.reply-main-cont{
    padding: 12px 24px;
    
    .rep-name-inp-div{
        margin: 0px 0px 14px 0px;
    }

    .rep-name-inp{
        padding: 8px;
        border: 0px;
    }

    .rep-txt-div{
        margin: 0px 0px 8px 0px;
    }

    .rep-txt{
        padding: 8px;
        border: 0px
    }
}